// Register local TTF font for consola
@font-face {
	font-family: 'Consola';
	src: url(/fonts/CONSOLA.ttf) format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	// Font
	--font-primary: 'Inter', sans-serif;
	--font-mono: 'Roboto Mono', monospace;
	font-family: var(--font-primary);
}

.icon {
	font-family: 'Material Symbols Outlined';
	user-select: none;
}
